# Provide UDP syslog reception
$ModLoad imudp
$UDPServerRun 514

# Provide TCP syslog reception
$ModLoad imtcp
$InputTCPServerRun 514

$template TemplateStrip,"%TIMESTAMP% %HOSTNAME:R,ERE,1,FIELD:^(.*)\.(.*)$--end% %syslogtag%%msg:::sp-if-no-1st-sp%%msg:::drop-last-lf%\n"
$ActionFileDefaultTemplate TemplateStrip

$umask 0000 # make sure nothing interferes with the following definition
$FileCreateMode 0640
$DirCreateMode 0750

#### TEMPLATE DEFINITIONS ####
#### Define a templote for remote hosts

$template DYNmessages,"{{ log_dir }}/%HOSTNAME:R,ERE,1,FIELD:^(.*)\.(.*)$--end:uppercase%/messages"
$template DYNsecure,"{{ log_dir }}/%HOSTNAME:R,ERE,1,FIELD:^(.*)\.(.*)$--end:uppercase%/secure"
$template DYNmaillog,"{{ log_dir }}/%HOSTNAME:R,ERE,1,FIELD:^(.*)\.(.*)$--end:uppercase%/maillog"
$template DYNcron,"{{ log_dir }}/%HOSTNAME:R,ERE,1,FIELD:^(.*)\.(.*)$--end:uppercase%/cron"
$template DYNspooler,"{{ log_dir }}/%HOSTNAME:R,ERE,1,FIELD:^(.*)\.(.*)$--end:uppercase%/spooler"
$template DYNboot,"{{ log_dir }}/%HOSTNAME:R,ERE,1,FIELD:^(.*)\.(.*)$--end:uppercase%/boot"

#### RULES TO ALLOW REMOTE LOGGING ###
#### If message is NOT from localhost log via related template

if $fromhost-ip != '127.0.0.1' and $syslogseverity <= '6' and ( $syslogfacility-text != 'mail' and $syslogfacility-text != 'authpriv' and $syslogfacility-text != 'cron' ) then ?DYNmessages
& stop
if $fromhost-ip != '127.0.0.1' and $syslogfacility-text == 'authpriv' then ?DYNsecure
& stop
if $fromhost-ip != '127.0.0.1' and $syslogfacility-text == 'mail' then ?DYNmaillog
& stop
if $fromhost-ip != '127.0.0.1' and $syslogfacility-text == 'cron' then ?DYNcron
& stop
if $fromhost-ip != '127.0.0.1' and ( $syslogfacility-text == 'uucp' or $syslogfacility-text == 'news' ) and $syslogseverity-text == 'crit' then ?DYNspooler
& stop
if $fromhost-ip != '127.0.0.1' and $syslogfacility-text == 'local7' then ?DYNboot
& stop

#### ALLOW LOCAL LOGGING
#### The '& stop' above means 'discard message from stack' i.e., only messages
#### from the host with the IP of '127.0.0.1' will be processed below
#
kern.*                                                  /var/log/messages
*.info;mail.none;authpriv.none;cron.none                /var/log/messages
authpriv.*                                              /var/log/secure
mail.*                                                  -/var/log/maillog
cron.*                                                  /var/log/cron
*.emerg                                                 :omusrmsg:*
uucp,news.crit                                          /var/log/spooler
local7.*                                                /var/log/boot.log